<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DotGecko.SampleWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DotGecko.SampleWPF.Properties.Settings>
            <setting name="XulRunnerDir" serializeAs="String">
                <value>c:\xulrunner</value>
            </setting>
            <setting name="ProfileDir" serializeAs="String">
                <value>.\gecko_profile</value>
            </setting>
            <setting name="UseWindowCreator" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UsePromptService" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseFilePicker" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseHelperAppLauncherDialog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseTooltipTextProvider" serializeAs="String">
                <value>False</value>
            </setting>
        </DotGecko.SampleWPF.Properties.Settings>
    </applicationSettings>
</configuration>